# Introduction to Pandas

![alt text](http://i1.wp.com/blog.adeel.io/wp-content/uploads/2016/11/pandas1.png?zoom=1.25&fit=818%2C163)

Pandas is an open-source, BSD-licensed Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. You can think of pandas as an extremely powerful version of Excel, with a lot more features.

## **About iPython Notebooks**

iPython Notebooks are interactive coding environments embedded in a webpage. You will be using iPython notebooks in this class. You only need to write code between the ### START CODE HERE ### and ### END CODE HERE ### comments. After writing your code, you can run the cell by either pressing "SHIFT"+"ENTER" or by clicking on "Run Cell" (denoted by a play symbol) in the left bar of the cell.

**In this notebook you will learn -**

* Series
* DataFrames
* Missing Data
* GroupBy
* Merging, Joining and Concatenating
* Operations
* Data Input and Output

## Importing Pandas
To import Pandas simply write the following:

In [0]:
import pandas as pd
import numpy as np

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [0]:
from numpy.random import randn
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame.

In [0]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [0]:
# Pass a list of column names
df[['W','Z']]

NameError: ignored

In [0]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series.

In [0]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [0]:
df['new'] = df['W'] + df['Y']

In [0]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns:**

**Note:** axis = 0 for selecting rows and axis = 1 for selecting columns.

In [0]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [0]:
df.drop('new',axis=1,inplace=True)

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [0]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows:**

In [0]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

Or select based off of index instead of label

In [0]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [0]:
df.loc['B','Y']

-0.84807698340363147

In [0]:
df.loc[['A','B'],['W','Y']]

NameError: ignored

**Exercise 2.1:**

Write a Pandas program to devide a DataFrame

In [0]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 2))
print("Original DataFrame:")
print(df)
part_70 = df.sample(frac=0.7,random_state=10)
part_30 = df.drop(part_70.index)
print("\n70% of the said DataFrame:")
print(part_70)
print("\n30% of the said DataFrame:")
print(part_30)

Original DataFrame:
          0         1
0 -0.088220  0.592082
1 -0.614574 -0.255660
2 -1.720412  0.117116
3 -0.990562  0.634030
4  1.433816  1.003544
5  1.570678  0.314230
6 -1.294539  0.187284
7  0.992748 -0.739186
8  0.153899 -0.068850
9  0.068161  0.073240

70% of the said DataFrame:
          0         1
8  0.153899 -0.068850
2 -1.720412  0.117116
5  1.570678  0.314230
6 -1.294539  0.187284
3 -0.990562  0.634030
1 -0.614574 -0.255660
0 -0.088220  0.592082

30% of the said DataFrame:
          0         1
4  1.433816  1.003544
7  0.992748 -0.739186
9  0.068161  0.073240

**Exercise 2.2:**

Write a Pandas program to count number of columns of a DataFrame.

In [0]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nNumber of columns:")
print(len(df.columns))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Number of columns:
3

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

Here you can see that it gives boolean values instead of the actual numbers. So we need to pass the argument in the form of a list.

In [0]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [0]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [0]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

**Exercise 2.3:**

Show the dataframe **df** with the negative values of **X** and positive values of **W**.

In [0]:
### START CODE HERE ### 

### END CODE HERE ###

          W         X         Y         Z       new        XZ
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959  0.286647
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542  0.196184

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [0]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [0]:
newind = 'CA NY WY OR CO'.split()

In [0]:
df['States'] = newind

In [0]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [0]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [0]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [0]:
df.set_index('States',inplace=True)

In [0]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [0]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [0]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [0]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.153661  0.167638
   2 -0.765930  0.962299
   3  0.902826 -0.537909
G2 1 -1.549671  0.435253
   2  1.259904 -0.447898
   3  0.266207  0.412580

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [0]:
df.loc['G1']

          A         B
1  0.153661  0.167638
2 -0.765930  0.962299
3  0.902826 -0.537909

In [0]:
df.loc['G1'].loc[1]

A    0.153661
B    0.167638
Name: 1, dtype: float64

In [0]:
df.index.names

FrozenList([None, None])

In [0]:
df.index.names = ['Group','Num']

In [0]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [0]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [0]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [0]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!

1. Write a Pandas program to get the powers of an array values element-wise

In [0]:
#Enter Your Code Here

2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels

In [0]:
#Enter Your Code Here

3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data

In [0]:
#Enter Your Code Here

4. Write a Pandas program to get the first 3 rows of a given DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [0]:
#Enter Your Code Here

5. Write a Pandas program to select the 'name' and 'score' columns from the above 4 no. program DataFrame

In [0]:
#Enter Your Code Here

6. Write a Pandas program to select the specified columns and rows from 4 no. program data frame.

In [0]:
#Enter Your Code Here

7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2 ( from 4 no. program data frame.)

In [0]:
#Enter Your Code Here

8. Write a Pandas program to count the number of rows and columns of a DataFrame

In [0]:
#Enter Your Code Here

9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [0]:
#Enter Your Code Here

10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive)

In [0]:
#Enter Your Code Here

11. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15

In [0]:
#Enter Your Code Here

12. Write a Pandas program to change the score in row 'd' to 11.5. Go to the editor
Sample Python dictionary data and list labels:

In [0]:
#Enter Your Code Here

13. Write a Pandas program to calculate the sum of the examination attempts by the students.

In [0]:
#Enter Your Code Here

14 .Write a Pandas program to calculate the mean score for each different student in DataFrame.

In [0]:
#Enter Your Code Here

15. Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [0]:
#Enter Your Code Here

16. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [0]:
#Enter Your Code Here

17. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False

In [0]:
#Enter Your Code Here

18. Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.

In [0]:
#Enter Your Code Here

19. Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [0]:
#Enter Your Code Here

20. Write a Pandas program to insert a new column in existing DataFrame.

In [0]:
#Enter Your Code Here

21. Write a Pandas program to iterate over rows in a DataFrame.

In [0]:
#Enter Your Code Here

22. Write a Pandas program to get list from DataFrame column headers.

In [0]:
#Enter Your Code Here

23.  Write a Pandas program to rename columns of a given DataFrame
       Original DataFrame.  data:  
col1 0 1 4 7.                                                                                                                                                            
col2 1 2 5 8.                                                                                                                                                  
col3  2 3 6 9.

In [0]:
#Enter Your Code Here

24. Write a Pandas program to change the order of a DataFrame columns. data :-                               
col1 0 1 4 7.                                                                                                                                                            
col2 1 2 5 8.                                                                                                                                                  
col3  2 3 6 9.

In [0]:
#Enter Your Code Here

25. Write a Pandas program to add one row in an existing DataFrame.(in above 24th program data frame)

In [0]:
#Enter Your Code Here

26. Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).                                                                                                                                                
city ,Number of people,
(California, 4)
(Georgia ,2)
(Los Angeles, 4)

In [0]:
#Enter Your Code Here

SOLUTIONS:[Data Frame](https://drive.google.com/open?id=1a2gOgNyhHhC8Gcy6MInfyfORmAmPBmDI)